<h1>New objecttype</h1>

<% form_for(@objecttype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :objecttypeid %><br />
    <%= f.text_field :objecttypeid %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', objecttypes_path %>