<h1>New routine</h1>

<% form_for(@routine) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :routineid %><br />
    <%= f.text_field :routineid %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', routines_path %>