<p>
  <b>Analogobjectgroupid:</b>
  <%=h @analogobjectgroup.analogobjectgroupid %>
</p>

<p>
  <b>Analogobjectgroup:</b>
  <%=h @analogobjectgroup.analogobjectgroup %>
</p>

<p>
  <b>Objectgroup:</b>
  <%=h @analogobjectgroup.objectgroup %>
</p>

<p>
  <b>Objectgroupid:</b>
  <%=h @analogobjectgroup.objectgroupid %>
</p>

<p>
  <b>Nestedgroupid:</b>
  <%=h @analogobjectgroup.nestedgroupid %>
</p>

<p>
  <b>Nestedgroup:</b>
  <%=h @analogobjectgroup.nestedgroup %>
</p>

<p>
  <b>Relationstype:</b>
  <%=h @analogobjectgroup.relationstype %>
</p>


<%= link_to 'Edit', edit_analogobjectgroup_path(@analogobjectgroup) %> |
<%= link_to 'Back', analogobjectgroups_path %>