<h1>Editing parametertoobjectgroup</h1>

<% form_for(@parametertoobjectgroup) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parametertoobjectgroupid %><br />
    <%= f.text_field :parametertoobjectgroupid %>
  </p>
  <p>
    <%= f.label :parameterid %><br />
    <%= f.text_field :parameterid %>
  </p>
  <p>
    <%= f.label :objectgroupid %><br />
    <%= f.text_field :objectgroupid %>
  </p>
  <p>
    <%= f.label :parameter %><br />
    <%= f.text_field :parameter %>
  </p>
  <p>
    <%= f.label :objectgroup %><br />
    <%= f.text_field :objectgroup %>
  </p>
  <p>
    <%= f.label :valuestring %><br />
    <%= f.text_field :valuestring %>
  </p>
  <p>
    <%= f.label :valuenumber %><br />
    <%= f.text_field :valuenumber %>
  </p>
  <p>
    <%= f.label :valueboolean %><br />
    <%= f.check_box :valueboolean %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @parametertoobjectgroup %> |
<%= link_to 'Back', parametertoobjectgroups_path %>