<p>
  <b>Parametertoobjectgroupid:</b>
  <%=h @parametertoobjectgroup.parametertoobjectgroupid %>
</p>

<p>
  <b>Parameterid:</b>
  <%=h @parametertoobjectgroup.parameterid %>
</p>

<p>
  <b>Objectgroupid:</b>
  <%=h @parametertoobjectgroup.objectgroupid %>
</p>

<p>
  <b>Parameter:</b>
  <%=h @parametertoobjectgroup.parameter %>
</p>

<p>
  <b>Objectgroup:</b>
  <%=h @parametertoobjectgroup.objectgroup %>
</p>

<p>
  <b>Valuestring:</b>
  <%=h @parametertoobjectgroup.valuestring %>
</p>

<p>
  <b>Valuenumber:</b>
  <%=h @parametertoobjectgroup.valuenumber %>
</p>

<p>
  <b>Valueboolean:</b>
  <%=h @parametertoobjectgroup.valueboolean %>
</p>


<%= link_to 'Edit', edit_parametertoobjectgroup_path(@parametertoobjectgroup) %> |
<%= link_to 'Back', parametertoobjectgroups_path %>