<p>
  <b>Parttoroutineid:</b>
  <%=h @parttoroutine.parttoroutineid %>
</p>

<p>
  <b>Partid:</b>
  <%=h @parttoroutine.partid %>
</p>

<p>
  <b>Part:</b>
  <%=h @parttoroutine.part %>
</p>

<p>
  <b>Routineid:</b>
  <%=h @parttoroutine.routineid %>
</p>

<p>
  <b>Routine:</b>
  <%=h @parttoroutine.routine %>
</p>


<%= link_to 'Edit', edit_parttoroutine_path(@parttoroutine) %> |
<%= link_to 'Back', parttoroutines_path %>